:root {
    --green: #008066;
    --yellow: #FED557;
}

::selection {
    background: var(--yellow);
    color: var(--green);
}

::-moz-selection {
    background: var(--yellow);
    color: var(--green);
}